:root {
	--info-color: #6c757d;  /* info 클래스의 색상을 회색으로 재정의 */
}
.btn-info {
	background-color: var(--info-color) !important;
	border-color: var(--info-color) !important;
	color: white !important;
}
.btn-info:hover {
	background-color: #6c757d !important;
	border-color: #6c757d !important;
	color: white !important;
}
input .form-control {
	height: 32px;
}
.row.search{
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-top: 1px lightgray solid;
	border-bottom: 1px lightgray solid;
}
.row.search .form-control {
	height:25px !important;
	width:75%;
}
.row.search .search-label{
	width:25%;
	line-height: 25px;
	font-size: 13px;
}
.row-title{
	font-size: 30px;
	font-weight: 600;
	color: #444;
	line-height: 30px;
	margin-bottom: 20px;
}
.button-list .header-btn {
	height:37px;
}
.tui-datepicker-input {
	margin-top: 6px;
	height: 28px !important;
	padding-left: 10px;
}
.tui-datepicker-custom {
	width: 100% !important;
	border-color: #ebedf2 !important;
	padding: 0.6rem 1rem !important;
	height: 80% !important;
	border-radius: 0.25rem !important;
}
.tui-datepicker-input > input {
	font-size: 14px !important;
	padding-left: 0px;
}
.tui-datepicker {
	z-index: 30;
}
.searchDiv{
	margin-bottom: 8px;
}
.page-inner{
	padding-bottom: 0px;
}
.custom-control.custom-radio.custom-control-inline {
  margin-top: 6px;
}
.custom-control.custom-radio.custom-control-inline > .tui-datepicker-input {
  margin-top: 0px;
}
input[type="checkbox"] {
	vertical-align: middle;
}
.show-password{
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 22px;
	cursor: pointer;
	margin-right: 10px;
}